* {
  font-size: 12px;
}
input {
  padding: 10px !important;
}
.error {
  margin: 5px;
  color: red;
  font-size: 13px;
}
.langButtons{
  border-radius:50% ;
  border: 0;
  padding: 5px;
  margin: 0 5px;
}